html{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;   
}
main{
 
    color: white;
}

/*NAVBAR*/

/*Navbar*/

.navbar{
    z-index: 2;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.78);

    padding: 35px 0 24px;
    margin-bottom: 50px;
}

.opciones-navbar{display: flex;}

.opciones-navbar li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    
    font-size: 18px;
    text-decoration: none;
    color: #AD974F;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.6s;
}

.opciones-navbar li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.6s;
}

.opciones-navbar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.15s ease-in-out;
}
.opciones-navbar li a:hover:after {width: 100%;}

.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top:9%;
    right: 20px;
    transform: translateY(-50%);
}
#check {display: none;}


.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 18px;
    transition: 0.6s;
}

.navbar a:hover{
    text-decoration: underline;
    transition: 0.6s;
}

.navbar img{
    width: 20px;
    height: 20px;
    margin: 0px 5px 0 15px;
    padding: 0;
}
.nav-bar-logo a{
    margin-right: 75px;
    font-size: 25px;
    color: #AD974F;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px;
}
.nav-bar-logo a:hover{
    text-decoration: none;
}



@media(max-width: 767px){
    .opciones-navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.596);
        transition: all 0.2s ease-in-out;
    }
    .opciones-navbar li {margin-top: 40px;}
    .opciones-navbar li a {margin: 10px 0; text-align: center;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .opciones-navbar {right: 0;}
}


/*CARDS*/
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 0;
}

.info-principal{
    width: 40%;
    margin-right: 75px;
}

.info-principal h1{
    color: #AD974F;
}

.info-principal p{
    line-height: 25px;
}

.info-principal img{
    width: 45px;
    margin-right: 15px;
    transition: 0.6s;
    opacity: 1;
    margin-bottom: 30px;
}

.info-principal img:hover{
    transition: 0.6s;
    opacity: 0.7;
}

.info-principal p:nth-child(1){
    color: #AD974F;
    font-size: 22px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

#about-boton{
    background-color: #AD974F;
    padding: 15px 22px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.6s;
    opacity: 1;
    font-weight: bold;
    text-transform: uppercase;
}

#about-boton:hover{
    transition: 0.6s;
    opacity: 0.7;
}



.photo-principal img{
    width: 280px;
    border-radius: 100%;
    background-color: #AD974F;
    border: #AD974F solid 2px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
}




/*SKILLS*/
.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    margin: auto;
}

.skills-container h2{
    color: #AD974F;
    text-transform: uppercase;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 25px;
    margin: 30px 0 80px;
    width: 100%;
    flex-wrap: wrap;
}

.skills div{
    background-color: rgb(37, 37, 37);
    padding: 15px;
    margin: 10px 25px;
    transition: 0.6s;
    border-radius: 13px;
}

.skills div:nth-child(5){
    padding: 25px 15px;
}

.skills div:hover{
    transition: 0.6s;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.skills img{
    width: 90px;
}





/*Projectos*/
.projects {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    flex-direction: column;
}

#title-project{
    text-align: center;
    color: #AD974F;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.card {
    position: relative;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #fff;
    border: #AD974F solid 2.3px;
    overflow: hidden;
    transition: box-shadow 0.4s ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #AD974F;
    transition: 0.6s;
}

.card a:hover {
    font-weight: bold;
    transition: 0.6s;
}


.card img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(1.001);
    transition: transform 0.4s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

.card .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.card:hover .icon {
    transform: translateX(0);
    opacity: 1;
}

.card-content {
    margin-top: 10px;
    padding: 2px 24px 24px;
}

.card-content h2 {
    margin: 0 0 18px 0;
    font-size: 1.5rem;
    letter-spacing: 0.03em;
    color: black;
    transition: color 0.3s ease-out;
    font-weight: bold;
}

.card:hover h2 {
    color: #AD974F;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*FOOTER*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    margin: 150px auto 25px;
    text-align: center;
}

footer h4{
    font-size: 25px;
    color: #AD974F;
    text-transform: uppercase;
}

footer p{
    font-size: 15px;
    color: white;
}

.social-media-footer img{
    width: 40px;
    margin: 5px 15px 70px;
    transition: 0.6s;
}

.social-media-footer img:hover{
    transition: 0.6s;
    opacity: 0.6;
}


.copyright{
    font-weight: bold;
    letter-spacing: 1px;
}

/*Contact whatsapp*/
.contact-whatsapp{
    position: absolute;
    z-index: 5;
    left: 95%;
    top: 90%;
    position: fixed;

}

.contact-whatsapp img{
    width: 45px;
    transition: 0.6s;
    opacity: 1;
}

.contact-whatsapp img:hover{
    transition: 0.6s;
    opacity: 0.6;
}


/* Media Query MOVIL*/
@media screen and (max-width: 768px) {
    /*Principal*/
    .principal{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .info-principal{
        width: 90%;
        margin: 15px 0 0;
        padding: 0;
    }

    .photo-principal img{
        width: 240px;
    }

    /*Skills*/
    .skills-container{
        width: 85%;
    }
    .skills{
        width: 85%;
    }

    .skills img{
        width: 70px;
    }

    /*Proyectos*/
    .card{
        width: 70%;
        margin: 10px auto 0;
    }

    /*Footer*/
    footer{
        width: 85%;
        margin: 30px auto 0;
        padding: 0;
    }


    /*Contacto*/
    .contact-whatsapp{
        display: none;
    }

}
 
 
 
 /* MEDIA QUERY Laptop - Tablet */
 @media screen and (min-width:767px) and (max-width: 1023px){
    
    /*Skills*/
    .skills-container{
        width: 85%;
    }
    .skills{
        width: 85%;
    }

    /*Proyectos*/
    .card{
        width: 90%;
        margin: 10px auto 0;
    }

    /*Contacto*/
    .contact-whatsapp{
        display: none;
    }
 }