html{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;   
}
main{
 
    color: white;
}

/*Projectos*/
.projects {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    flex-direction: column;
}

#title-project{
    text-align: center;
    color: #AD974F;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.card {
    position: relative;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #fff;
    border: #AD974F solid 2.3px;
    overflow: hidden;
    transition: box-shadow 0.4s ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #AD974F;
    transition: 0.6s;
}

.card a:hover {
    font-weight: bold;
    transition: 0.6s;
}


.card img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(1.001);
    transition: transform 0.4s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

.card .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.card:hover .icon {
    transform: translateX(0);
    opacity: 1;
}

.card-content {
    margin-top: 10px;
    padding: 2px 24px 24px;
}

.card-content h2 {
    margin: 0 0 18px 0;
    font-size: 1.5rem;
    letter-spacing: 0.03em;
    color: black;
    transition: color 0.3s ease-out;
    font-weight: bold;
}

.card:hover h2 {
    color: #AD974F;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*FOOTER*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    margin: 150px auto 25px;
    text-align: center;
}

footer h4{
    font-size: 25px;
    color: #AD974F;
    text-transform: uppercase;
}

footer p{
    font-size: 15px;
    color: white;
}

.social-media-footer img{
    width: 40px;
    margin: 5px 15px 70px;
    transition: 0.6s;
}

.social-media-footer img:hover{
    transition: 0.6s;
    opacity: 0.6;
}


.copyright{
    font-weight: bold;
    letter-spacing: 1px;
}

/*Contact whatsapp*/
.contact-whatsapp{
    position: absolute;
    z-index: 5;
    left: 95%;
    top: 90%;
    position: fixed;

}

.contact-whatsapp img{
    width: 45px;
    transition: 0.6s;
    opacity: 1;
}

.contact-whatsapp img:hover{
    transition: 0.6s;
    opacity: 0.6;
}


/* Media Query MOVIL*/
@media screen and (max-width: 768px) {
    /*Proyectos*/
    .card{
        width: 70%;
        margin: 10px auto 0;
    }

    /*Footer*/
    footer{
        width: 85%;
        margin: 30px auto 0;
        padding: 0;
    }


    /*Contacto*/
    .contact-whatsapp{
        display: none;
    }

}
 
 
 
 /* MEDIA QUERY Laptop - Tablet */
 @media screen and (min-width:767px) and (max-width: 1023px){
    
    /*Skills*/
    .skills-container{
        width: 85%;
    }
    .skills{
        width: 85%;
    }

    /*Proyectos*/
    .card{
        width: 90%;
        margin: 10px auto 0;
    }

    /*Contacto*/
    .contact-whatsapp{
        display: none;
    }
 }