footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    width: 100%;
    
    margin: auto;
    text-align: center; 
    background-color: #ad974fec;
    z-index: 2;

    .navegation{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 20px 0;
        padding-top: 50px;
        a{
            margin: 0 15px;
            font-weight: bold;
            color: #242424;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.6s;


            &:hover {
                text-decoration: underline;
                transition: 0.6s;
            }
        }
    }
}

.socialMediaFooter {
    a{
        img {
            width: 30px;
            margin: 5px 15px 10px;
            transition: 0.6s;
            background-color: #242424;
            padding: 7px;
            border-radius: 50%;
            
            &:hover {
                transition: 0.6s;
                opacity: 0.6;
            }
        }
    }
    
}

.copyright {
    letter-spacing: 1px;
    color: #242424;
    padding-bottom: 50px;

    span{
        font-weight: bold;
    }
}


/* Media Query MOVIL*/
@media screen and (max-width: 768px) {

    footer {
        width: 100%;
        margin:  auto;
        padding: 0;
    }
}