/* PROYECTOS */
.projects {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    flex-direction: column;
    margin-bottom: 80px
  }
  
  #titleProject {
    text-align: center;
    color: #AD974F;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .card {
    position: relative;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #fff;
    border: gray solid 2px;
    overflow: hidden;
    transition: box-shadow 0.4s ease-in-out;
    
    &:hover {
      border: #AD974F solid 2.5px;

      .cardContent h2 {
        color: #AD974F;
      }
    }

    figure {
      margin: 0;
      padding: 0;
      overflow: hidden;

      img {
        max-width: 100%;
        transform-origin: center;
        transform: scale(1.001);
        transition: transform 0.4s ease-in-out;
    
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    .cardContent {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding: 2px 24px 24px;
  
      h2 {
        margin: 0 0 18px 0;
        font-size: 1.4rem;
        letter-spacing: 0.03em;
        color: black;
        transition: color 0.3s ease-out;
        font-weight: bold;
        text-align: center;
        }

        .container-icons{
          display: flex;
          justify-content: space-evenly;

          img{
            width: 35px;
            transform: scale(1.001);
            transition: transform 0.4s ease-in-out;

            &:hover{
              transform: scale(1.3);
            }
          }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 70%;
      margin: 10px auto 0;
    }
  }
  
  @media screen and (min-width: 767px) and (max-width: 1023px) {
    .card {
      width: 90%;
      margin: 10px auto 0;
    }
  }